body{
    background-color:black;
    font-family: arial;
    color: white;
    }
       
    h1{
    font-family: Verdana, sans-serif;
    color:gray;
    font-size: 31px; 
    font-style: normal;
    font-variant: normal; 
    line-height: 26.4px; 
    font-weight: bolder;
    text-align: center; 
    position: absolute;
    top: 10px;
    }
       
    .maindiv{
    background-color: white;
    color: black;
    width: 430px;
    padding: 46px;
    border-radius: 25px;
    margin: auto;    
    }
    
    .div1{
    position: absolute;
    top: 62px;
    left: 40%;
    padding: 5px;
    }
    
    .div2{
    position: absolute;
    top: 96px;
    left: 40%;
    padding: 5px;
    }
    
    .div3{
    position: absolute;
    top: 131px;
    left: 40%;
    padding: 5px;
    }
    
    .div4{
    position: absolute;
    top: 170px;
    left: 47%;
    line-height: 21.5px; 
    font-size: 16px;
    }
    
    .hl1{
    color: blue;
    }
    
    .hl2{
    color: green;
    }
    
    button{
    position: absolute;
    top: 170px;
    left: 40%;
    }
    
    footer{
    position: fixed;
    top: 270px;
    left: 38%;
    }


